html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 2rem; }

h2 {
  font-size: 4rem; }

.lineThrought {
  text-decoration: line-through; }

.lightGrey {
  background-color: lightgrey; }

ul {
  list-style: none; }
