// @import '_vars';
// @import '_mixins';
// @import '_rwd';
// @import '_setup';
// @import '_swiper';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
	font-size: 2rem;
}

h2 {
  font-size: 4rem;
  //@include roboto(light, 32px, #000000);
}


.lineThrought {
  text-decoration: line-through;
}

.lightGrey {
  background-color: lightgrey;
}

ul {
	list-style: none;
}

