<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Order-list-Angularjs</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">

</head>
<body>
  <div ng-controller="ExampleController">
    <h2>Order list</h2>
    <ul ng-if="products.length">
      <li ng-repeat="product in products" ng-class="{lightGrey: $odd, lineThrought: product.bought != false}">{{ $index+1 }} {{ product.text }}
        <button ng-click="editProduct($event)">Edit</button>
        <button ng-click="clearProduct($event)">X</button>
      </li>
    </ul>
    <button ng-click="clearCategories()">Clear list</button>
    <button ng-click="clearBought()">Clear bought</button>
    <button ng-click="addCategories()">Add list</button>
  </div>

  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
